@import url(utility.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-family: 'Inter' , sans-serif;
}

body {
  background-color: black;
}

.container {
  width: 80rem;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}

nav {
  padding: 1.5rem 2rem ;
  
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr;
  width: 80rem;

  ul[role="list"] {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    align-items: center;

    li{
      color: #808080;
    }
  }
}


button {
    padding: .75rem 1.25rem;
    border: 1px solid;
    background-color: white;
    border-radius: .5rem;
  }

.button-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    padding: 1rem 2rem;
  }
}

h2 {
  line-height: 2rem;
  letter-spacing: -0.04rem;
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    text-align: center;
    width: 59.5rem;
    margin-block: 5rem 14.9375rem;

    
    h1 {
      line-height: 1.2;
      font-size: 4rem;
      font-weight: 750;
      margin-bottom: 1rem;
      letter-spacing: -0.04rem;
      width: 59.5rem;
    }
    
    h2 {
      line-height: 1.4;
      font-size: 2.5rem;
      color: #A1A1AA;
      font-weight: 300;
    }

    img {
      width: 25.75rem;
      height: 6,5rem;
      margin-bottom: 1.5rem;
    }
  }
}

section {
  width: 80rem;
}

.to-know {
  
  padding: 5rem 2rem;
  background-color: #18181B;
  display: flex;
  gap: 2rem;

  div {
    width: 40rem;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;

    h3 {
      color: rgb(255, 208, 0);
      letter-spacing: .1rem;
      line-height: 100%;
      font-size: .875rem;
      font-weight: 500;
    }

    h2 {
      color: white;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 800;
    }

    p {
      line-height: 160%;
      color: #A1A1AA;
      font-weight: 400;
    }

  }
  
  img {
    width: 544px;
    height: 34.875rem;
  }
}

.features {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .features-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
  }
}

.section-features {
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  border: 1px solid #27272A;

  background-color: #18181B;
  max-width: 37rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow: hidden;

  
}

.side-feature {
  width: 13.5rem;
  height: 16.5rem;
}

.features-title {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h2 {
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-size: 2rem ;
  }

  p {
    line-height: 1.6;
    font-weight: 400;
    color: #808080;
  }
  
}

.mid-feature{
  width: 16rem;
  height: 13.375rem;

}

.img-feature {
  position: absolute;
  /* inset: 0; */
  left: 53%;
  top: -30%;
  img {
    width: 15rem;
    height: 30.35rem;
    filter: drop-shadow(.5rem .5rem 1rem black);
  }
}

.features-wrapper2 {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;

}

.left-img {
  align-items: end;
  /* width: 16rem; */
  
  h2 {
    letter-spacing: -0.02em;

  }

  .img-feature {
    left: 6.5%;
    top: -30%;
  }

  .features-icons {
    align-self: center;
    transform: translateX(1.5rem);
  }

}

.plans-price-wrapper{
  padding: 5rem 2rem;
  gap: 2rem;
  
  .pptitle{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 1px solid red; */
    max-width: 50rem;
    margin: auto;
    

    h3 {
      color: rgb(255, 208, 0);
      letter-spacing: .1rem;
      line-height: 100%;
      font-size: .875rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    h2 {
      color: white;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 800;
    }

  }

  hr {
    width: 20rem;
    height: 1px;
    border: none;
    text-decoration: none;
    background: linear-gradient(to right, #18181B, #A1A1AA, #18181B);
    margin-top:.5rem; 
  }

  .containerpp{
    align-items: center;
  }

  .sptitle {
    h2{
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 800;

      &.family {
        
        &::after{
          content: "/mês por pessoa";
          color: #A1A1AA;
          line-height: 2.0;
          font-size: 1rem;
          margin-left: .25rem;
          font-weight: 300;
        }
      }
    
      &.mensal {
        &::after {
          content: "/mês";
        }
      }

    }
    h3{
      font-size: 1.25rem;
      line-height: 1.2;
    }
    p{
      color: #A1A1AA;
      line-height: 1.6;
    }
  }

  .sideplans{
    width: 24rem;
    height: 30rem;
    border: 1px solid #27272A;
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: #18181B;

  }

  .midplan {
    border: 1px solid #F7B733;
    border-radius: 1.5rem;
    padding: 4.5rem 2rem 2rem 2rem;
    height: 35rem;
    background-color: #18181B;
    position: relative;
    overflow: hidden;

    #before {
      position: absolute;
      background: linear-gradient(to right, #FC4A1A, #F7B733);
      top: -0.1%;
      left: -2%;
      align-items: center;
      justify-content: center;
      color: black;
      border-radius: 0px 0px 1.5rem 0px;
      font-size: .75rem ;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 8%;
      line-height: 1rem;

      span {
        width: 9.75rem;
        text-align: center;
        padding: 12px 2rem;
      }

    }

    .btn-plans {
      background-color: white;
      color: black;
    }
  }
  
  ul {
    gap: 1rem;

    li{
      display: flex;
      align-items: center;
      gap: .5rem;
      
      &:last-child{
        align-items: flex-start;
      }

      span {
        line-height: 1.5rem;
        color: #A1A1AA;
      }
    }
  
    small {
      font-size: .875rem;
      line-height: 1.25rem;
      color: #A1A1AA;
      font-weight: 400;
    }

  }
}

#cantar {
  font-weight: 400;
  line-height: 1.4;
}

.go-sing{
  padding: 5rem 2rem;

  .sing-wrapper{
    padding: 8.75rem 5rem;
    background-color: #18181B;
    gap: 2.5rem;
    border-radius: 1.5rem;
    position: relative;

    .sing-title{
      width: 40rem;
    }

    h3{
      color: rgb(255, 208, 0);
      letter-spacing: .1rem;
      line-height: 100%;
      font-size: .875rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    h2{
      color: white;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 800;
    }

    p {
      line-height: 160%;
      color: #A1A1AA;
      font-weight: 400;
    }
    
  }

  

  .btn-downloads{

    gap: 1rem;

    span {
      width: 10rem;
      height: 3.5rem;
      background-color: black;
      border: 1px solid white;
      align-items: center;
      padding: .75rem .5rem;
      border-radius: .5rem;
      gap: .5rem;
      cursor: pointer;

      img{
        margin-left: 0.08rem;
      }

      &#playstore{
        width: 11.125rem;
      }

      p {
        font-size:0.75rem;
        font-weight: 500;
        line-height: 100%;
      }

      h2 {
        font-size: 1.25rem;
        font-weight: 500;
      }

      #div-apple {
        max-width: 6rem;
      }
      
    }
  }

  #div-playstore{
    width: 7.125rem;
  }

  #sing-img{
    position:absolute;
    width: 29.125rem;
    height: 39.1875rem;
    top: -15.5%;
    right: -4%;
  }

}

.final-section{
  padding: 5rem 2rem 2rem;
  height: 22.5rem;
  gap: 5rem;

  &>div{
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 4rem;
  }

  .links a:nth-child(1){
    color:#F7B733;
    font-size: .75rem;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    width: 4.0625rem;
  }

  .links {
    gap: 1.25rem;

    a{
      line-height: 1.25rem;
      color: #808080;
    }
  }

  footer{
    align-items: center;
    justify-content: space-between;

    .icons-footer{
    gap: 1.5rem;
    align-items: center;
    }

    span{
      font-size: .875rem;
      line-height: 1.5rem;
      color:#808080;
    }

  }
}


