.flex{
  display: flex;
}

.column {
  flex-direction: column;
}

.gap-1\.5{
  gap: 1.5rem;
}

.gap-0\.25{
  gap: .25rem;
}

.gap-2{
  gap: 2rem;
}

.grid-column {
  display: grid;
  grid-auto-flow: column;
}

.side-mid-side {
  grid-template-columns: 1fr 2fr 1fr;
}

button{
  cursor: pointer;
}

.btn-plans {
  all: unset;
  text-align: center;
  border: 1px solid white;
  border-radius: .5rem;
  padding: .8rem 1.5rem;
  cursor: pointer;
  line-height: 1.5rem;
  font-weight: 500;
}

.white {
  background-color: white;
  color: black;
}


